@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
@import "project.css";
@import "recent-posts.css";
body {
  font-family: var(--contentfont);
  font-weight: 400 !important;
  color: var(--color-lbe0gxko);
}
body #app #page-creator #wrapper .hl_page-creator--content {
  background-color: var(--white);
}

#__nuxt > div > .bgCover ~ div {
  background-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

svg {
  fill: currentColor;
}

picture {
  position: relative;
  overflow: hidden;
}
picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-button > a.btn-arrow-r {
  background-image: url(assets/arrow-or.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 95% center;
}
.c-button > a.btn-arrow-r:hover {
  border-color: var(--color-lbe0irne);
}

.btn-link {
  color: var(--color-lbf66ieb);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-link:hover {
  color: var(--color-lbe0irne);
}

.ff-inter {
  font-family: "Inter", sans-serif !important;
}

.fw-black {
  font-weight: 900 !important;
}

.shadow10 {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.h-100 {
  height: 100%;
}
.h-100 > .c-wrapper {
  height: 100%;
}

.wide > .inner {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.midWideSection.full {
  max-width: 100%;
}
.midWideSection.full > .inner {
  max-width: 1230px !important;
}

.site-info > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-info svg {
  margin-right: 1em;
}
.site-info .site-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-info .site-info-item ~ .site-info-item {
  margin-left: 1.5em;
}

.site-info-content {
  font-size: 14px;
}
.site-info-content span {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-lbf66ieb);
  display: block;
  text-transform: uppercase;
}

.c-button button.borderFull.radius5 {
  font-weight: 500;
  line-height: 1.2;
}
.c-button button.borderFull.radius5:hover {
  border-color: var(--color-lbe0irne);
  background-color: var(--color-lbe0irne);
}

.navrow > .inner > .c-column:first-child {
  padding-left: 0;
  padding-right: 0;
}

.nav-menu a:hover {
  text-decoration: none;
}

.social-icon {
  width: auto;
  height: auto;
}

.social-icons > .c-svg {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 auto !important;
          flex: 0 0 auto !important;
  padding-left: 10px;
  padding-right: 10px;
}
.social-icons > .c-svg svg {
  color: var(--color-lbgx78w9);
}
.social-icons > .c-svg:hover svg {
  color: var(--color-lbf66ieb);
}

.eapp-slider-button-link {
  background-image: url(assets/arrow-wr.png);
}

.bg-opacity-4 > .bg {
  opacity: 0.4;
}

.c-section.home-slider .c-column {
  padding-left: 0;
  padding-right: 0;
}
.c-section.page-banner > .inner {
  max-width: 920px;
}

.page-title {
  text-align: center;
}

.stats {
  font-family: var(--poppins);
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
}
.stats .stat {
  padding: 40px 15px 0;
}
.stats .stat .number {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-lbf66ieb);
  margin-bottom: 15px;
  display: block;
}

.testimonials-row > .inner {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

.image-container img {
  -o-object-fit: cover;
     object-fit: cover;
}

.hl-app {
  font-family: inherit;
}
.hl-app input[type=email], .hl-app input[type=number], .hl-app input[type=password], .hl-app input[type=text], .hl-app input textarea {
  background-color: var(--white);
  border: 1px solid #ddd;
  border-radius: 0;
}
.hl-app textarea {
  min-height: 109px;
}
.hl-app .form-control {
  line-height: 1.2;
  color: var(--color-lbe0jkft);
  background: var(--white);
  border: 1px solid #ddd;
  border-radius: 0;
}
.hl-app .btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-image: url(assets/arrow-or.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 95% center;
  padding-right: 50px !important;
  border-color: var(--transparent) !important;
}
.hl-app .btn:hover {
  border-color: var(--color-lbe0irne) !important;
}

.contact-form-footer .hl-app {
  margin-left: -15px;
  margin-right: -15px;
}
.contact-form-footer .hl-app .btn {
  margin-top: 20px;
}

.footer-bottom {
  color: var(--white);
}
.footer-bottom .site-info-content {
  font-size: 18px;
}
.footer-bottom .site-info-content span {
  color: inherit;
  margin-bottom: 0.5em;
}
.footer-bottom a {
  color: var(--color-lbe0irne);
}
.footer-bottom .social-icons > .c-svg svg {
  color: var(--color-lbe0irne);
}
.footer-bottom .social-icons > .c-svg:hover svg {
  color: var(--white);
}

.copyright {
  margin-top: 20px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .site-header .top-row .right-col .c-custom-code, .site-header .top-row .right-col .c-button {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .site-header .top-row .right-col .c-custom-code {
    max-width: 400px;
  }
  .site-header .navrow > .inner > .c-column:last-child {
    max-width: 250px;
  }
  .logo-nav .branding {
    display: none;
  }
  .c-section.home-intro .c-column:first-child {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: 270px;
  }
  .c-section.home-intro .c-column:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background: #D6D6D6;
  }
  .c-section.home-intro .benefits .c-image-feature {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .c-section.img-txt.img-left > .bg {
    width: 50%;
  }
  .contact-form-footer > .inner > .c-column {
    padding: 20px 64px;
  }
  .contact-form-footer .hl-app .form-builder--item {
    margin-top: 16px;
  }
  .contact-form-footer .hl-app .menu-field-wrap:not(:nth-last-child(2)):not(:last-child) {
    width: 50%;
  }
  .contact-form-footer .hl-app .menu-field-wrap:nth-child(3) {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .site-header .top-row .right-col {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .site-header .top-row .right-col .c-button button {
    padding: 8px 10px;
    margin-top: 10px;
  }
  .site-header .navrow > .inner > .c-column:last-child {
    width: auto;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 auto !important;
            flex: 0 0 auto !important;
  }
}
@media screen and (min-width: 1024px) {
  .site-header .top-row .right-col .c-button {
    max-width: 229px;
  }
  .c-section.img-txt > .inner {
    max-width: 1500px !important;
  }
  .c-section.img-txt .txt-col {
    max-width: 479px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .c-section.home-intro .c-column:first-child {
    max-width: 400px;
  }
  .c-section.home-intro .stats-col {
    max-width: 348px;
    margin-left: auto;
    margin-right: auto;
  }
  .c-section.home-intro .benefits .c-image-feature {
    padding-left: 15px;
    padding-right: 15px;
  }
  .c-section.home-intro, .c-section.featured-services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contact-form-footer .hl-app .menu-field-wrap:not(:nth-last-child(2)):not(:last-child) {
    width: 25%;
  }
  .contact-form-footer .hl-app .menu-field-wrap:first-child, .contact-form-footer .hl-app .menu-field-wrap:nth-child(2), .contact-form-footer .hl-app .menu-field-wrap:nth-child(3) {
    width: 33.33333% !important;
  }
  .footer-bottom .c-column:last-child {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 200px !important;
            flex: 0 0 200px !important;
  }
  .footer-bottom .c-column:last-child > .inner.social-icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .copyright {
    text-align: left !important;
  }
}
@media screen and (min-width: 1200px) {
  .c-section.home-intro .c-column:first-child {
    max-width: 480px;
  }
  .c-section.img-txt .txt-col {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .c-section.img-txt .txt-col .c-heading > .text-output {
    margin-bottom: 50px;
  }
  .c-section.img-txt .txt-col .c-button {
    margin-top: 50px;
  }
  .hl-app .form-control {
    padding: 21px 30px !important;
  }
}
@media screen and (max-width: 1023px) {
  .footer-bottom > .inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-bottom .c-column:not(:last-child) {
    width: auto;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 auto !important;
            flex: 0 0 auto !important;
  }
  .footer-bottom .c-column:last-child {
    margin-top: 30px;
  }
  .footer-bottom .c-column:last-child > .inner.social-icons .c-paragraph {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media screen and (max-width: 767px) {
  .c-section.home-slider .c-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .c-section.img-txt > .bg {
    position: relative;
    height: 300px;
  }
}