body {
  font-family: var(--contentfont);
  font-weight: 400 !important;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.wide > .inner {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.site-info > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-info svg {
  width: 30px;
  height: 30px;
  margin-right: 1em;
}
.site-info .site-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-info-content {
  font-size: 14px;
}
.site-info-content span {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-lbf66ieb);
  display: block;
  text-transform: uppercase;
}

.c-button button.borderFull.radius5 {
  font-weight: 500;
  line-height: 1.2;
}

.site-header .top-row .right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}