.wide > .inner {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.site-info {
  font-family: var(--raleway);
}

.c-button button.btnshadow.custom {
  font-weight: 500;
  line-height: 1.2;
}